---
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import MailIcon from '../components/icons/MailIcon.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Santiago Preusche | Portfolio"
	description="Software Engineer">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4">
				👋 Hey! I'm Santiago <a href="https://www.linkedin.com/in/santiagopreusche/" class="flex justify-center items-center ">
					<Badge>Open to Work</Badge>
				</a>
			</h1>
			<h2 class="text-white text-2xl opacity-80 flex justify-center flex-row py-2">
				MSc and Software Engneer from Buenos Aires, Argentina 🇦🇷 living in Europe and ready to dive into the industry.
			</h2>
			<h2 class="text-white text-2xl opacity-80 flex justify-center flex-row py-2">
				With a hands-on experience in the field, I am excited to contribute with all my skills and knowledge to overcome any challenges ahead!
			</h2>
			<nav class="flex flex-wrap gap-4 mt-8">
				<SocialPill href="mailto:santipreusche@gmail.com">
					<MailIcon class="size-4" />
					santipreusche@gmail.com
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/santiagopreusche">
					<LinkedInIcon class="size-4" />
					LinkedIn
				</SocialPill>
			</nav>
			
		</section>
	</main>
</Layout>


