---
import Layout from "../layouts/Layout.astro";

import AboutMe from "../components/AboutMe.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Experience from "../components/Experience.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import Introduction from "../components/Introduction.astro";
---

<Layout
	title="Santiago Preusche Portfolio - Software Engineer"
	description="Software Engineer and MSc in software engineering. With multiple years as a software developer in a variety of projects. Mobile apps, websites."
>
	<main class="px-4">
		<SectionContainer id="contact" class="py-16 md:py-36">
			<Introduction />
		</SectionContainer>
	</main>
	<div class="space-y-24">

		<SectionContainer id="experience">
			<TitleSection>
				<Briefcase class="size-8" />
				Professional Experience
			</TitleSection>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<TitleSection>
				<CodeIcon class="size-7" />
				Projects
			</TitleSection>
			<Projects />
		</SectionContainer>

		<SectionContainer id="about-me">
			<TitleSection>
				<ProfileCheck class="size-8" />
				About Me
			</TitleSection>
			<AboutMe />
		</SectionContainer>
		

	</div>
</Layout>
