<header class="flex justify-between items-center py-3 w-full xl:w-[1120px] mx-auto">
    <img 
        class="rounded-full w-12 h-12"
        src="https://media.licdn.com/dms/image/D4D03AQGjiSWOWw_vQg/profile-displayphoto-shrink_200_200/0/1691850944019?e=2147483647&v=beta&t=Cb8T7YGogXyTR07RuCrvQtyu8Oudt3hwyuMzBnvPGoI"
        alt="spreusche picture" />

    <nav class="flex flex-row gap-x-[41px] opacity-90">
        <a href="/" hover:bg-sky-700>Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>


</header>